#playerContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

#playerScene {
    flex-grow: 1;
    overflow: hidden;
}

#controllerGui {
    position: absolute;
    top: 60px;
    right: 0px;
    margin: 0px;
}

#timestampController input {
    pointer-events: none;
    opacity: 0.75;
}